<div class="input-form-container">
  <label>TickRotation: </label>
  <select [(ngModel)]="tickRotation" (ngModelChange)="onInputFormChange()" class="tick-rotation-select">
    <option>always</option>
    <option>auto</option>
    <option>never</option>
  </select>
  <label>Custom Time Interval Formats:</label>
  <input type="checkbox" [(ngModel)]="useCustomTimeIntervalFormats" (ngModelChange)="onInputFormChange()"/>
</div>
<div class="charts-container">
  <div>
    @for (row of data; track $index) {
      <div>
        <div>{{ row[0].group }}</div>
        <ibm-simple-bar-chart *ngIf="visible | async" [data]="row" [options]="options"></ibm-simple-bar-chart>
      </div>
    }
  </div>
</div>
